.login-container {
  display: flex;
  overflow: hidden; 
}

.login-left {
  background-color: #05642d;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1; 
  padding: 20px;
}

.logo {
  width: 100px;
  margin-bottom: 15px;
  align-items: center;
}

.tagline {
  color: #ffa500;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.login-right {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  flex: 1; 
  padding: 40px;
  overflow-y: auto; 
}

.brand-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.highlight { 
  color: #ffa500;
}

.login-form {
  display: flex;
  width: 100%;
  max-width: 400px; 
  flex-direction: column;
}

.login-form label {
  font-weight: bold;
  margin-top: 10px;
}

.login-form input, .login-form select {
  padding: 12px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.login-btn{
  padding: 12px;
  width: 48%;
  max-width: 150px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin: 0 auto;
  background-color: #ffa500;
  color: white;
}

@media (max-width: 850px) {
  .login-container {
    flex-direction: column;
  }

  .login-left {
    flex: 0.5; 
    padding: 20px;
    min-height: 200px;
  }

  .login-right {
    flex: 1.5; 
    justify-content: flex-start;
    padding-top: 40px;
  }

  .login-form {
    max-width: 100%;
  }
}
